body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.container{
    max-width: 30rem;
    height: 25rem;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    outline: 2px solid black;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 0 0 10px 1px gray;
}

label, input, select, textarea, button{
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label:not([for="fulltime"], [for="parttime"]){
    font-size: 1.2rem;
    font-weight: bold;
}
select, input:not([type="radio"]){
    height: 1.3rem;
    width: 20rem;
}
fieldset{
    width: 18rem;
}
input, select, textarea{
    background-color: beige;
    box-shadow: 0 0 1px 1px gray;

    transition: .3s;
}
button{
    transition: .3s;
}



input:hover, select:hover, textarea:hover{
    transform: scale(1.1);
}

input:focus, textarea:focus{
    border-color: purple;
    outline: none;
}

input:invalid, select:invalid, textarea:invalid{
    border-color: red;
}

input:valid, select:valid, textarea:valid{
    border-color: green;
}

button:hover{
    background-color: lightgreen;
    transform: scale(1.1);
}

.radiobtn {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(1, 188, 132);
}

.radiobtn::before{
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(3px, 3px) scale(2);
    transition: all 0.3s ease-in;
}

.radio-group input[type="radio"]:checked{
    border-color: green;
    background-color: green;
}

.radio-group input[type="radio"]:checked + label{
    color: green;
}
