body{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background: black;
}
.face{
  width: 20rem;
  height: 20rem;
  background-color: rgb(238, 255, 0);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;

  transition: transform .3s ease, box-shadow 1.3s ease
}

.face:hover{
    box-shadow: 10px 10px 10px 1px black;
    transform: scale(1.1);
    background-color: darkred;
    transform: rotate(10deg);
}

.face:hover .eyeone{
    transform: skewY(2);
    background-color: red;
    height: 100px;

    box-shadow: 0px 0px 10px 1px red;
}
.face:hover .eyetwo{
    transform: skewY(1);
    background-color: red;
    height: 100px;

    box-shadow: 0px 0px 10px 1px red;
}
.face:hover .eye{
  background-color: red;
}

.eyes{
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px;

  margin: 0 auto;
}
.eye{
  width: 5.5rem;
  height: 5.5rem;
  background-color: white;
  border-top: 10px solid black;
  color: black;
  font-size: 100px;
  text-align: center;

  border-radius: 360px;

  box-shadow: 0 0 10px 1px black;
}
/*
.eye p{
  background-color: blue;
  font-size: 20px;
  width: 14rem;
  height: 14rem;
}*/

.eyeone{
  background-color: gray;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 360px;

  margin: 40px auto;
  box-shadow: 0 0 10px 1px black;
  transition: transform 1s ease, background-color 1s ease, height 1s ease;
}

.eyetwo{
  background-color: darkblue;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 360px;

  margin: 40px auto;
  box-shadow: 0 0 10px 1px black;
  transition: transform 1s ease, background-color 1s ease, height 1s ease;
}

.mouth{
  background-color: white;
  width: 10rem;
  height: 3rem;
  border-top: 10px solid rgb(162, 2, 2);
  border-bottom: 10px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
  margin-left: auto;
  margin-right: auto;

  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 10px 1px black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tounge{
  background-color: red;  
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
  height: .01rem;
  width: .01rem;

  transition: height 1s ease, width 1s ease, background-color .1ms ease
}

.face:hover .mouth{
  background-color: black;
}

.face:hover .tounge{ 
  background-color: red;
  border-radius: 0 0 5px 5px;
  height: 100rem;
  width: 3rem;
  box-shadow: 0 0 10px 1px red;

  transform: skewY(2);
}



.one{
    animation:blink 3s infinite;
}
.two{
  animation:blink 2s infinite;
}

.mouth{
  animation:close 3s infinite;
}

@keyframes blink{

    0%,95%,100%{
        height:5.5rem;
        
    }

    97%{
        height:.5rem;
        background-color: white;
    }

}

@keyframes close{
  0%,95%,100%{
        height:3.5rem;
        
    }

    97%{
        height:.5rem;
    }
}